%% TrustForge Erlang adapters — top-level rebar3 workspace.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {jsx, "3.1.0"},
    {cowboy, "2.10.0"}
]}.

{project_plugins, []}.

{ct_opts, [{sys_config, "config/test.config"}]}.

{cover_enabled, true}.

{profiles, [
    {test, [
        {deps, [
            {jsx, "3.1.0"},
            {cowboy, "2.10.0"}
        ]}
    ]}
]}.
